
body.cke_editable * {
    box-sizing: border-box;
}

body.cke_editable .clearfix:after, 
body.cke_editable .row:after {
	content: "";
	display: table;
	clear: both;
}

body.cke_editable {
	margin: 20px;
	font-family: "Helvetica", sans-serif;
}

body.cke_editable div {
	margin: 0;
	padding: 0;
	border: 1px dashed #CCC;
}

body.cke_editable td {
	vertical-align: top;
}

body.cke_editable .button {
	margin: 0;
	padding: 12px 16px;
	font-size: 15px;
	font-weight: normal;
	color: #fff;
	text-align: center;
	line-height: 1em;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	display: inline-block;
	background-color: #999;
	border-radius: 4px;
	border: 2px solid #999;
	cursor: pointer;
}

body.cke_editable .column {
	float: left;
}

body.cke_editable .column.half {
	width: 50%;
}

body.cke_editable .column.one-quarter {
	width: 25%;
}

body.cke_editable .column.one-third {
	width: 33%;
}

body.cke_editable .column.two-thirds {
	width: 66%;
}
